<!DOCTYPE html>
<html>
  <head>
    <title>logar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Fazer login</h1>
    <form action="/logando" method="GET">
        <input type="text" name="nome" id="">
        <input type="email" name="email" id="">
        <button type="submit">ENTRAR</button>
    </form>
  </body>
</html>
